# dependencies
node_modules/

# Expo
.expo/
dist/
dist-e2e/
web-build/
expo-env.d.ts
coverage/
playwright-report/
test-results/
supabase/.branches/
supabase/.temp/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example

# editor
.vscode/

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
